# name: docs 
# on:
#   push:
#     branches:
#       - main
# permissions:
#   contents: write
# jobs:
#   deploy:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v4
#       - uses: actions/setup-python@v5
#         with:
#           python-version: 3.x
#       - run: pip install mkdocs-material 
#       - run: mkdocs gh-deploy --force
#       - uses: actions/checkout@v4
#         with:
#           ref: gh-pages
#       - run: echo "pyco2sys.hseao3.group" > CNAME
#       - name: Commit changes
#         run: |
#           git config --global user.email "no-reply@github.com"
#           git config --global user.name "GitHub Actions"
#           git add CNAME
#           git commit -m "Create CNAME"
#           git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
#           git push
#         env:
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
